.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__like-button {
  background-image: url(../images/Like-Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like-icon-active.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  background-image: url(../images/delete-icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/delete-icon-active.svg);
}

.card__title {
  margin: 0;
  max-width: 250px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
