/* modal styles */
.modal {
  background-color: rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  width: 100%;
  max-width: 730px;
  border-radius: 8px;
  background: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-bttn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  opacity: 0.4;
}

.modal__close-bttn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__preview-container {
  position: relative;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__close-bttn_type_preview {
  top: 0px;
  right: -52.5px;
  opacity: 100%;
}

.modal__close-bttn_type_preview:hover {
  opacity: 40%;
}

.modal__caption {
  margin: 8px 0 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  display: inline-block;
}

/* modal form styles */

.modal__form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 110%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
}

.form__input {
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  line-height: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 16px 0 16px 12px;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 1);
  width: 100%;
  box-sizing: border-box;
}

.form__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.form__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.form__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.form__submit-btn {
  max-width: 156px;
  height: 52px;
  background: #000;
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.form__submit-btn_inactive {
  opacity: 0.5;
}

.form__submit-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.form__input-error {
  display: none;
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
}

.form__input-error_active {
  display: block;
}

/* media queries */

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__close-bttn {
    top: 12px;
    right: 12px;
  }
  .form__submit-btn {
    max-width: none;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
  }
  .form__input {
    font-size: 20px;
  }
  .modal__close-bttn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__caption {
    font-size: 16px;
  }
}
